/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 13, 2019, 12:38:04 PM
    Author     : webdip_6
*/
/* implicitno*/
body{
    background: #333333;
    color: #c7c7c7;
    font-family: "Roboto";
    margin: 0;
}


/*eksplicitno*/
.naslov{
    font-size: 20px;
    color: #000;
}

.labela{
    color: crimson;
    display: block;
    width: 400px;
}

footer{
    background: black;
    border-top:5px solid;
    border-color: crimson;   
}



/*jednoznaÄno*/
#pocetak,#reganim ,#prijanim, #kraj, #obranim, #popanim, #medanim{
    text-align: center;
}

#pocetak{
    animation: pocetak 3s infinite;
    animation-direction: alternate;
}
@keyframes pocetak{    
    from {letter-spacing: 0px;}
    to {letter-spacing: 2px;}
}

#medanim{
    animation: medanim 3s infinite;
    animation-direction: alternate;
}
@keyframes medanim{    
    50% {text-shadow: 0px 0px 40px crimson, 0px 0px 40px crimson, 0px 0px 40px crimson;}

}

#reganim{
    animation: reganim 5s infinite;    
}
@keyframes reganim{    
    from {transform: rotateY(0deg)}
    to {transform: rotateY(360deg);}
}

#popanim{
    animation: popanim 2s infinite; 
    animation-direction: alternate;
}
@keyframes popanim{    
    from {color: crimson}
    to {color: black;}
}

#prijanim{
    animation: prijanim 5s infinite; 
}
@keyframes prijanim{    
    from {transform: rotateX(0deg)}
    to {transform: rotateX(360deg);}
}

#obranim{
    animation: obranim 3s infinite;
    animation-direction: alternate;
}
@keyframes obranim{    
    from {transform: rotateZ(-38deg)}
    to {transform: rotateZ(38deg);}
}

.izbornik{
    text-align: center;
    background-color: black;
    border: solid 1px;
    border-color: crimson;
    align-content: center;
    vertical-align: middle; 

}
.nav_a{
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
}

/*pseudoklase*/
a:hover{
    color: white;
}
a{
    color: crimson;
}

.podatci{
    display: inline-table;
    align-content: center;
    vertical-align: middle;
}


.red{
    background-color: black;
    padding: 10px;
    border: solid 1px;
    border-color: crimson;
    align-content: center;
    vertical-align: middle;
    display: table-cell;
}

.red2{
    background-color: black;
    padding: 10px;
    border: solid 1px;
    border-color: crimson;
    align-content: center;
    vertical-align: middle;
    display: table-cell;
}

.clanci{
    display: inline;
    align-content: center;
    vertical-align: middle;
}


.sredina{
    text-align: center;
}
header{
    border-bottom: 5px solid;
    border-color: crimson;  
    font-size: 20px;
    font-weight: bold;
    background-color: black;
    padding: 5px;
}

.regobr {
    display: inline-grid;
    padding: 10px;
    background-color: black;
    border: solid 1px;
    border-color: crimson;
}

.registerbtn {
    background-color: black;
    color: crimson;
    border-color: crimson;
}

#brojac {
    color: crimson
}

.slider {
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;    
    transition: opacity .2s;
}
table{
    margin: auto;
    
}
.tablica1 {
    border-color: crimson;
}
.tablica1 caption{
    color: crimson;
}

.tablica1_zaglavlje {
    background-color: black;
    color: crimson;
}
.tablica1_redak {
    background-color: black;
}

@media (max-width: 224px){
    .tablica1 tr > *:nth-child(1n+3){
        display: none;
    }
}
@media (max-width: 378px){
    .tablica1 tr > *:nth-child(1n+4){
        display: none;
    }
}
@media (max-width: 472px){
    .tablica1 tr > *:nth-child(1n+5){
        display: none;
    }
}
@media (max-width: 538px){
    .tablica1 tr > *:nth-child(6){
        display: none;
    }
}

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }            
.item4 { grid-area: footer; }

.grid-container {
    display: grid;
    grid-template-areas:
        'header'
        'menu'
        'main'
        'footer';
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
}
.box1{
    width: fit-content;
    border: 1px solid crimson;
    padding: 1px;
    margin: auto;
    background-color: black;
    display: inline-flex;
    vertical-align: middle;
}

.box2{
    width: fit-content;
    border: 2px solid crimson;
    padding: 2px;
    margin: auto;
    background-color: black;
    display: inline-flex;
    vertical-align: middle;
}
.box3{
    width: fit-content;
    border: 3px solid crimson;
    padding: 3px;
    margin: auto;
    background-color: black;
    display: inline-flex;
    vertical-align: middle;
}
.box4{
    width: fit-content;
    border: 4px solid crimson;
    padding: 4px;
    margin: auto;
    background-color: black;
    display: inline-flex;
    vertical-align: middle;
}
.box5{
    width: fit-content;
    border: 5px solid crimson;
    padding: 5px;
    margin: auto;
    background-color: black;
    display: inline-flex;
    vertical-align: middle;
}
audio{
    margin: auto;
}
@media (max-width: 1017px){

    .box1{
        display: block;
    }
    .box2{
        display: block;
    }
    .box3{
        display: block;
    }
    .box4{
        display: block;
    }
    .box5{
        display: block;
    }
}
@media (max-width: 812px){
    .mobnav{
        margin: 0;
        padding: 0;
        display: grid;
    }
    .izbornik {
        padding-top: 10px;
        background-color: black;
        border: solid 1px;
        border-color: crimson;
        display: list-item;
        padding-bottom: 10px;
    }
}
iframe{
    border: 0;
}
